*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(119, 167, 208)
}
/* ------|MENU|------ */
h1, h2{
    text-align: center;
    
}
.principal{
    width: 990px;
    height: 652px;
    
    margin: auto;
    border: 0.2rem solid white;
    background-color:beige;
    text-align: center;
}
.menu{
   padding: 30px;
   border: 0.3rem solid white  
} 
li{
    list-style: none;
    font-size: large;
    font-family: sans-serif;
    display: inline;
    padding: 30px;
    margin: 10px;
}
ul a{
    text-decoration: none;
    border: thick double transparent;
}
ul a:hover{
    background-color: rgb(100, 180, 180);
    color: white;
    text-decoration: underline;
    border: thick double rgb(58, 148, 157);
} 

/* ------|Footer|------ */
footer{
    padding: 45px;
    background-color:rgb(58, 148, 157);
}
.resp{
    color: white;
    font-size: large;
    font-family: sans-serif;
}