*{
    padding: 0;
    margin: 0;
}
/* -------------------------------------- */
header{
    background-image: url("../img/start.jpg");
    width: auto;
    height: 200px;
    margin: 5px;
}
nav{
    margin: 20px;
}

h1, h2{
    text-align: center;  
}
/* -------------------------------------- */
body{
    background-color: rgb(119, 167, 208)
}
header{
    display: none;
}
article{
    background-color: beige;
    margin: 3px;
    text-align: justify;
}

/* -------------------------------------- */

@media screen and (min-width:800px) {
    header{
        display: block;
    }
}
@media screen and (min-width: 640px){
    section{
        display: flex;
        margin: 30px;
    }

}
@media screen {
    footer {
        display: none;
    }
}

































/* section{
    margin: 10px;

}
article{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
p{  
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    margin: 5px;
    flex: 1 0 200px;
}
aside{
    display: flex;
    flex: 2 0 auto;
    flex-basis: 100px;
}

footer{
   border: solid;
   flex: 2 0 auto;
   width: auto;
   height: 80px;
} */
